name: "02 - Workflow Events"

on: 
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 10 ? * * *'

jobs: 
  echo:
    runs-on: ubuntu-latest
    steps:
    - name: Show the trigger
      run: echo "${{github.event_name}}"



